html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    background-color: darkcyan; 
} 

.imglink{ 
    background: url(http://loremflickr.com/640/480/animals); 
    width: 15vw; 
    height: 15vw; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}